<header class="header">
    <img class="logo" src="https://res.cloudinary.com/dceumpnjl/image/upload/v1631001570/samples/cloudinary-icon.png" alt="Decoded Frontend">
    <div class="nav">
        <a class="nav-link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{ exact:true }">Template-Driven Forms</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/reactive-forms">Reactive Forms</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/custom-rating-picker">Custom Rating Picker</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/custom-select">Custom Select</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/dynamic-forms">Dynamic Forms</a>
    </div>
    <input
        [(ngModel)]="searchString"
        class="global-search" 
        placeholder="Global Search" 
        type="text"
    >
</header>