<form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
    <div>Forms Values:</div>
    <pre>{{form.value | json}}</pre>
    <div class="form-field">
        <label for="name">First Name</label>
        <input formControlName="firstName" type="text" id="name" placeholder="Enter your name">
    </div>
    <div class="form-field">
        <label for="last-name">Last Name</label>
        <input formControlName="lastName" type="text" id="last-name" placeholder="Enter your last name">
    </div>
    <div class="form-field">
        <label for="nick-name">Nick Name</label>
        <input formControlName="nickName" type="text" id="nick-name" placeholder="Come up with a nick name">
    </div>
    <div class="form-field">
        <label for="email">Email</label>
        <input formControlName="email" type="email" id="email" placeholder="Provide your email">
    </div>
    <div class="form-field-inline-group">
        <div class="form-field form-field--small">
            <label for="year-of-birth">Year of birth</label>
            <select formControlName="yearOfBirth"  id="year-of-birth">
                <option *ngFor="let year of years" [value]="year">{{year}}</option>
            </select>
        </div>
        <div class="form-field form-field--small">
            <label for="passport">Passport Number</label>
            <input formControlName="passport" type="text" id="passport" placeholder="Provide Passport Data">
        </div>
    </div>
    <fieldset formGroupName="address">
        <legend>Address</legend>
        <div class="form-field">
            <label for="full-address">Full Adress</label>
            <input formControlName="fullAddress" type="text" id="full-address" placeholder="Street name and house number">
        </div>
        <div class="form-field">
            <label for="city">City</label>
            <input formControlName="city" type="text" id="city" placeholder="City">
        </div>
        <div class="form-field">
            <label for="post-code">Post Code</label>
            <input formControlName="postCode" type="number" id="post-code" placeholder="Post code">
        </div>
    </fieldset>
    <fieldset formArrayName="phones">
        <legend>Phones</legend>
        <div class="control-buttons">
            <button class="add-button" type="button" (click)="addPhone()">+</button>
        </div>
        <div class="form-field" *ngFor="let phone of form.controls.phones.controls; let i = index" [formGroupName]="i">
            <label for="phone-{{i}}">Phone Number {{i + 1}}</label>
            <div class="control-container">
                <select class="phone-label-list" formControlName="label">
                    <option *ngFor="let phoneLabel of phoneLabels" [value]="phoneLabel">{{phoneLabel}}</option>
                </select>
                <input formControlName="phone" type="text" id="phone-{{i}}" placeholder="Enter phone number">
                <button class="remove-button" type="button" (click)="removePhone(i)">-</button>
            </div>
        </div>
    </fieldset>
    <fieldset formGroupName="skills">
        <legend>User Skills</legend>
        <ng-container *ngIf="skills$ | async as skills; else loading">
            <div class="skill-container" *ngFor="let skill of skills">
                <input type="checkbox" [formControlName]="skill" [name]="skill" [id]="skill">
                <label [for]="skill">{{ skill | titlecase }}</label>
            </div>
        </ng-container>
    </fieldset>
    <button>Save</button>
</form>

<ng-template #loading>
    <p>Skills are loading...</p>
</ng-template>